.glyphicon-ok{
	color:rgb(34,139,34);

}

.glyphicon-remove{
	color:rgb(245, 0, 0);
}

#sexe{
	height:57px;
	color:yellow;
}
#up{
	display:none;
}

#desc{
	visibility:hidden;
}
#se
{
	padding-bottom: 1px;
}

.veh
{
	color:white;
}


.cache{
	display:none;
	
}
.cache2{
	display:none;
	
}
.cache ul{
	list-style-type: none;
	cursor:pointer;
	padding-left: 0;
}
.cache2 ul{
	list-style-type: none;
	cursor:pointer;
	padding-left: 0;
}
.cache ul li:hover{
	background-color: blue;
}
.cache2 ul li:hover{
	background-color: blue;
}
.cache ul li{
	padding-left: 15px;
}
.cache2 ul li{
	padding-left: 15px;
}
.suggestion{
	background-color:white;
	border-radius:4px;
	//display:inline;
}
.suggestion2{
	background-color:white;
	border-radius:4px;
	//display:inline;
}
.gene{
	display:block;
}



#loginform{
	background-color: white;
}

form{
	padding :25px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.5);
}

