

#test{
			color:white;
		}

#fb{
			font-size:24px
		}

#tweet{
			font-size:24px
		}

#insta{
			font-size:24px
		}

#page{
	margin-bottom:75px;
	margin-top:20px;
}

#titre{
	font-size:20px;
}

.text-center{
	text-align:center;
}

#fdp{
	border-style:none;
}
