#sexe{
	height:57px;
	color:yellow;
}
#up{
	display:none;
}
		
#desc{
	visibility:hidden;
}
#se
{
	padding-bottom: 1px;
}

#footer
{
	margin-bottom:0px;
}
.droite
{
	margin-right:0px;
}
.veh
{
	color:white;
}


.cache{
	display:none;
	
}
.cache2{
	display:none;
	
}
.cache ul{
	list-style-type: none;
	cursor:pointer;
	padding-left: 0;
}
.cache2 ul{
	list-style-type: none;
	cursor:pointer;
	padding-left: 0;
}
.cache ul li:hover{
	background-color: blue;
}
.cache2 ul li:hover{
	background-color: blue;
}
.cache ul li{
	padding-left: 15px;
}
.cache2 ul li{
	padding-left: 15px;
}
.suggestion{
	background-color:white;
	border-radius:4px;
	//display:inline;
}
.suggestion2{
	background-color:white;
	border-radius:4px;
	//display:inline;
}
.gene{
	display:block;
}
.glyphicon-ok{
	color:rgb(34,139,34);

}

.glyphicon-remove{
	color:rgb(245, 0, 0);
}


div#login-alert{
			display: none;
		}
		
		.input-group {
			margin-bottom: 25px;
		}
		.form-group-end{
			border-top: 1px solid#888;
			padding-top:15px;
			font-size:85%;
		}

		#panel {
			max-width: 600px;
			padding-right:0;
			padding-left:0;
		}
		#mod{
			margin-bottom:0px;
		}
		.moda{
			display:block;
			padding-top: 15px;
			cursor:pointer;
			color: #9d9d9d;
		}
		.moda:hover{
			color:white;
		}

form {
	padding :25px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.5);
}

