#footer
{
	margin-bottom:0px;

}
.droite
{
	margin-right:0px;
}
#pa
{
	margin-top: 80px;
}

div#login-alert{
	display: none;
}

.input-group {
	margin-bottom: 25px;
}
.form-group-end{
	border-top: 1px solid#888;
	padding-top:15px;
	font-size:85%;
}

#panel {
	max-width: 600px;
	padding-right:0;
	padding-left:0;
}
#mod{
	margin-bottom:0px;
}
.moda{
	display:block;
	padding-top: 15px;
	cursor:pointer;
	color: #9d9d9d;
}
.moda:hover{
	color:white;
}