.glyphicon-ok{
	color:rgb(34,139,34);

}

.glyphicon-remove{
	color:rgb(245, 0, 0);
}

#res{
	display: none;
	margin-top: 50px;
	padding :5px 25px 25px 25px;
	border-radius: 10px;
	
}

.ombre{
	margin-top: 10px;
	background-color: rgba(0,0,0,0.5);
}

#h2ombre{
	background-color: rgba(0,0,0,0.5);
}



